.camperItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--white);
  /* height: 368px; */
  text-align: center;
  padding: 12px;
  border: 1px solid var(--grey-light);
  border-radius: 20px;
}

@media only screen and (min-width: 768px) {
  .camperItem {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1440px) {
  .camperItem {
    flex-direction: row;

    padding: 24px;
    gap: 24px;
  }
}

.ItemImg {
  /* display: none; */
  object-fit: cover;
  border-radius: 14px;
}
@media only screen and (min-width: 768px) {
  .ItemImg {
    float: left;
    display: inline;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 14px;
  }
}

@media only screen and (min-width: 1440px) {
  .ItemImg {
    width: 292px;
    height: 100%;
  }
}

.itemDetais {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .itemDetais {
    gap: 24px;
  }
}

.itemTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.itemTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 525px;
  height: 32px;
}

.itemTitle h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.priceWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.favouriteButton {
  background-color: inherit;
  padding: 2px;
}

@media only screen and (min-width: 768px) {
  .favouriteButton {
    padding: 12px;
  }
}

.favouriteButton:hover {
  background-color: inherit;
}

.heartDefault {
  color: var(--main-black);
}

.heartPressed {
  color: var(--button);
}

.reviewWrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 16px;
}

.review {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.describtion {
  width: 100%;
  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  .describtion {
    max-width: 525px;
  }
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

@media only screen and (min-width: 768px) {
  .badges {
    gap: 8px;
  }
}

.badgesItem {
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  height: 48px;
  background-color: var(--grey-categories);
  border-radius: 100px;
  padding: 12px 18px;
}

.detailsButton {
  width: 166px;
  height: 56px;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
}
