.camperItem {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  text-align: center;
  margin-bottom: 60px;
}

.ItemImg {
  width: 292px;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.itemDetais {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.itemTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.itemTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* max-width: 525px; */
  height: 32px;
}

.itemTitle h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.priceWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.reviewWrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 16px;
}

.review {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.photoContainer {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.photoWrapper {
  width: 292px;
  height: 312px;
}

.thumbPhoto {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.describtion {
  margin-right: auto;
  padding: 0;
  line-height: 1.5;
  text-align: left;
}

.detailsButton {
  width: 166px;
  height: 56px;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
}
