.imageContainer {
  border-radius: 10px;
  overflow: hidden;
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}

.photoContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.photoWrapper {
  width: 292px;
  height: 312px;
}

.thumbPhoto {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
