.campersListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

@media only screen and (min-width: 1440px) {
  .campersListContainer {
    gap: 63px;
  }
}

.campersList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 888px;
  min-width: 320px;
  width: 100%;
}

.loadMoreButton {
  width: 145px;
  height: 56px;
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: 200px;
  color: var(--main-black);
  transition: border var(--Animation_cubic);
}

.loadMoreButton:hover {
  border: 1px solid var(--button-hover);
  background-color: var(--white);
}
