.reviewContainer {
  display: flex;
  flex-direction: column;
  gap: 44px;
  width: 100%;
  padding: 44px 0;
  border-radius: 10px;
  align-items: center;
}

@media only screen and (min-width: 1440px) {
  .reviewContainer {
    flex-direction: row;
    align-items: flex-start;
  }
}

.reviewlist {
  display: flex;
  flex-direction: column;
  gap: 44px;
  width: 100%;
}

@media only screen and (min-width: 1440px) {
  .reviewlist {
    width: 631px;
  }
}

.review {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: var(--grey-categories);
  color: var(--button);
}

.filled {
  color: var(--yellow);
  fill: var(--yellow);
}
.empty {
  color: var(--grey-categories);
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.name {
  font-weight: var(--font-weight-semi);
}

.rate {
  display: flex;
  gap: 4px;
}
