.featuresContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 44px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 641px;
  padding: 44px 52px;
  background-color: var(--grey-input);
  border-radius: 10px;
}

.bookingContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 46px 44px;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badgesItem {
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  height: 48px;
  background-color: var(--grey-light);
  border-radius: 100px;
  padding: 12px 18px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.devider {
  width: 100%;
  height: 1px;
  background-color: var(--grey-light);
}

.describe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.describeItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.describeItem p {
  font: Inter;
  font-weight: 500;
  font-size: 16px;
}
