.camperContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 48px 64px;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.menu li {
  position: relative;
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
  font: Inter;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 24px;
}

.mark {
  position: absolute;
  transform: translateY(52px);
  width: 100%;
  height: 5px;
  background-color: var(--button);
}

.devider {
  width: 100%;
  height: 1px;
  background-color: var(--grey-light);
}
