:root {
  --white: #ffffff;
  --grey-input: #f7f7f7;
  --grey-categories: #f2f4f7;
  --grey-light: #dadde1;
  --yellow: #ffc531;
  --button-hover: #d84343;
  --button: #e44848;
  --grey: #6c717b;
  --grey-text: #475467;
  --main-black: #101828;
}
